<h1>Hello, <%= @user.name %></h1>

<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>
<br />

  Mood: <%= @user.mood %><br />
  Tickets available: <%= @user.tickets %><br />
  Height: <%= @user.height %><br />
  <% if @user.admin? %>
    ADMIN
  <% end %>

  <br />
  <%= link_to "See attractions", attractions_path %>


  <br /><p>
    <%= link_to("Log Out", logout_path, :method => :post, :action => :destroy, :controller => :sessions) %>
  </p>
